[submodule "syoch-robotics"]
path = syoch-robotics
url = git@github.com:nnctroboticsclub/syoch-robotics
[submodule "common_libs/ArduinoSTL"]
path = common_libs/ArduinoSTL
url = git@github.com:mike-matera/ArduinoSTL.git
