[submodule "syoch-robotics"]
path = syoch-robotics
url = git@github.com:nnctroboticsclub/syoch-robotics
[submodule "common_libs/bno055"]
path = common_libs/bno055
url = git@github.com:nnctroboticsclub/bno055
[submodule "common_libs/ikako_c620"]
path = common_libs/ikako_c620
url = git@github.com:nnctroboticsclub/ikako_c620
[submodule "common_libs/ikakoMDC"]
path = common_libs/ikakoMDC
url = git@github.com:nnctroboticsclub/ikakoMDC
[submodule "common_libs/ikarashiCAN_mk2"]
path = common_libs/ikarashiCAN_mk2
url = git@github.com:nnctroboticsclub/ikarashiCAN_mk2
[submodule "common_libs/ArduinoSTL"]
path = common_libs/ArduinoSTL
url = git@github.com:mike-matera/ArduinoSTL.git
[submodule "common_libs/mbed-os"]
path = common_libs/mbed-os
url = git@github.com:mbed-ce/mbed-os.git
[submodule "common_libs/IkakoRobomas"]
path = common_libs/IkakoRobomas
url = git@github.com:nnctroboticsclub/IkakoRobomas.git
[submodule "common_libs/MotorController"]
path = common_libs/MotorController
url = git@github.com:nnctroboticsclub/MotorController.git
[submodule "common_libs/can_servo"]
path = common_libs/can_servo
url = git@github.com:nnctroboticsclub/can_servo.git
[submodule "common_libs/PS4_RX"]
path = common_libs/PS4_RX
url = git@github.com:nnctroboticsclub/PS4_RX.git
[submodule "common_libs/srobo_base"]
	path = common_libs/srobo_base
	url = git@github.com:nnctroboticsclub/srobo_base
[submodule "common_libs/im920_rs"]
	path = common_libs/im920_rs
	url = git@github.com:nnctroboticsclub/im920_rs
